<div class="mainButtons unselectable">
  <div class="text button">ФИЛЬТР</div>
  <div class="text button">ПОКАЗАТЬ НА КАРТЕ</div>
</div>
<div *ngIf=isLogin class="tableMain">
  <table class="table">
    <thead>
      <tr>
        <td>Компания</td>
        <td>Статус</td>
        <td>Адрес</td>
        <td style="width: 120px;">Телефон</td>
        <td>Действие</td>
        <td>Импорт</td>
      </tr>
    </thead>
    <tbody>
      <tr style="height: 10px;">    
      </tr>
      <tr *ngFor="let x of companyList">
        <td>{{ x.company }}</td>
        <td>{{ x.status }}</td>
        <td>{{ x.address }}</td>
        <td>{{ x.phone }}</td>
        <td>{{ x.taskLast }}</td>
        <td>{{ x.import }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf=!isLogin class="warningNeedLogin">Для просмотра необходимо войти!</div>