<div class="containerFilter">
  <form>
    <input
      *ngFor="let el of simpleFiltersList; let i = index"
      name="el.{{ i }}.name"
      placeholder="{{ el.name }}"
      class="searchBar"
      [(ngModel)]="el.value"
    />
    <select
      *ngFor="let elem of dictionary; let i = index"
      name="elem.{{ i }}.name"
      class="searchBar"
      [(ngModel)]="elem.value"
    >
      <option value="">{{ elem.name }}</option>
      <option *ngFor="let opt of elem.data" value="{{ opt.id }}">
        {{ opt.name }}
      </option>
    </select>
    <div class="filterButtons">
      <button class="clear" (click)="clearFilters()">Очистить</button>
      <button class="show" (click)="showResults()">Показать</button>
    </div>
  </form>
  <div></div>
</div>
