.containerFilter {
  position: fixed;
  top: 130px;
  width: 540px;
  background: #dfdede;
  margin: 0 0 0 8px;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0px 5px 10px 3px rgb(0 0 0 / 50%);
}
form {
  display: flex;
  flex-wrap: wrap;
  input {
    margin: 5px;
    height: 30px;
    width: 160px;
    padding: 0 0 0 5px;
  }
  select {    
    margin: 5px;
    height: 32px;
    width: 167px;
  }
}
.filterButtons {
  position: absolute;
  bottom: 0;
  right: 8px;
  padding: 5px;
  button {
    font-weight: bold;
    cursor: pointer;
    height: 30px;
    margin: 3px;
  }
  .clear {
    background-color: transparent;
    border: none;
    text-decoration: underline;
    opacity: 0.7;
    &:active {
      font-size: 13px;
    }
    &:hover {
      opacity: 1;
    }
  }
  .show {
    font-weight: normal;
    width: 85px;
    border-style: solid;
    border-radius: 7px;
    border-color: #bbbbbb;
    border-width: 2px;
    box-shadow: 0px 4px 5px 0px rgb(0 0 0 / 50%);
    &:active {
      box-shadow: inset 0px 0px 5px 0px rgb(0 0 0 / 50%);
    }
    &:hover {
      box-shadow: 0px 4px 8px 0px rgb(0 0 0 / 50%);
    }
  }
}
@media only screen and (max-width: 700px){
  .containerFilter {
    width: 280px;
  }
  .filterButtons {
    display: flex;
    flex-direction: column;
  }
}