.headerMain {
  background-color: #7baf3d;
  position: fixed;
  top: 0;
  height: 50px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  z-index: 5;
}
.shadow {
  box-shadow: 0px 5px 10px 3px rgb(0 0 0 / 50%);
  padding: 10px;
}
.containerHeader {
  margin: 0px 0px 0px 15px;
  display: flex;
  flex-direction: row;
  align-items: center;

  fa-icon {
    margin: 0px 5px 0 0;
    width: 25px;
    padding: 4px 8px 4px 8px;
    text-align-last: center;
    font-size: 25px !important;
  }
}
.companyName {
  margin: 0 20px 0 0;
}
.buttonHeader {
  align-self: center;
  margin: 0 20px 0 0;
  font-size: 20px;
  height: 28px;
  width: 75px;
  text-align: center;
  padding: 5px 0 5px 0;
  border-radius: 7px;
  &:hover {
    box-shadow: 0 5px 10px 2px rgb(0 0 0 / 50%);
    cursor: pointer;
  }
  &:active {
    box-shadow: inset 0px 0px 20px 0px rgb(0 0 0 / 50%);
  }
}
.content {
  margin: 70px 0 0 0;
  float: right;
  height: calc(100% - 70px);
}
